*
#main{
    font-size: larger;
    border: 2px solid;
    width: fit-content;
    margin-left: 300px;
    
}
#c1{
    color: seagreen;
    margin-left: 20px;

}
#c2
{
    color: seagreen;
    margin-left: 350px;
    margin-top: -45px;
}
#c3{
    color: seagreen;
    margin-left: 20px;
}
#c4{
    color: seagreen;
    margin-top: -20px;
    margin-left: 20px;
}
#c5{
    color: seagreen;
    margin-left: 350px;
    margin-top: -45px;
}
#c6{
    color: seagreen;
    margin-left: 20px;
    margin-top: -10px;
}
#l1{
    margin-left: 20px;

}
#c7{
    color: seagreen;
    margin-left: 350px;
    margin-top: -85px;
}
#l2{
    margin-left: 350px;

}


#c8{
    color: seagreen;
    margin-left: 20px;
    margin-top: -20px;
}
#l3{
    margin-left: 20px;

}



#c9{
    color: seagreen;
    margin-left: 350px;
    margin-top: -85px;
}

#l4{
    margin-left: 630px;
    border: 2px solid;
    margin-top:-25px;
    width: fit-content;
    background-color:seagreen; 

}
#c10{
    margin-left:20px;
    margin-top:-15px;
    color:seagreen;
}
#l5{
    margin-left:20px;
}
#c11{
    margin-left: 350px;
    margin-top: -90px;
    color: seagreen;
}
#c12{
    margin-left: 20px;
    margin-top: -15px;
    color: seagreen;
    
}
#c13{
    margin-left: 600px;
    margin-top: -6px;
    
}



